<div class="login-wrapper">
    <form [hidden]="mode  !== 'login'" class="login" [formGroup]="loginForm" (ngSubmit)="submitLogin($event)" novalidate>
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Company Product Name
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </label>
        <div class="login-group">
            <input class="username"
                type="text"
                id="login_username"
                placeholder="Username"
                formControlName="username"
                [ngClass]="{ 'error': loginForm.get('username').touched && loginForm.get('username').invalid }">

            <input class="password"
                type="password"
                id="login_password"
                placeholder="Password"
                formControlName="password"
                autocomplete="false"
                [ngClass]="{ 'error': loginForm.get('password').touched && loginForm.get('password').invalid }">

            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div [hidden]="true" class="error active">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-outline">Enviar</button>
            <a href="javascript://" (click)="changeMode('forgot')" class="signup">Recuperar contraseña</a>
        </div>
    </form>
    <app-forgot #forgot
        class="login"
        [mode]="mode"
        *ngIf="mode === 'forgot'"
        (onGoBack)="changeMode($event)">
    </app-forgot>
</div>
